

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: "Oswald", sans-serif;
}
.background video{
  position: fixed;
  object-fit: cover;
  top: -100px;
  height:calc(100% + 100px);
  width: 100%;
  z-index: -2;
}
html{
  scroll-behavior: smooth;
}
/* .overlay{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #00000061;
  z-index: -1;
} */

#navbar {
background-color: #f3f3f3;
position: fixed;
top: 0;
width: 100%;
display: flex;
justify-content: space-between;
transition: top 0.3s;
z-index: 3;
}

#navbar ul{
display: flex;
list-style: none;
justify-content: center;
align-items: center;
margin-right: 20px;
}

#navbar ul li a {
float: left;
display: block;
color: black;
text-align: center;
justify-content: center;
border-radius: 5px;
padding: 15px;
text-decoration: none;
font-size: 15px;
}

#navbar ul li a:hover {
background-color: #6fb768;
color: black;
}


.profileBtn{
display: none;
height: 50px;
width: 50px;
justify-content: center;
align-items: center;
border-radius: 50%;
border: none;
outline: none;
background-color: white;
color: #6fb768;
opacity: 0.5;
}
.profileBtn:hover{
color: #fff;
background-color: #6fb768;
opacity: 1;
}
.profile_container{
display: none;
background-color: white;
position: absolute;
top: 60px;
right: 20px;
height: 0px;
width: 0px;
border-radius: 5px;
flex-direction: column;
overflow: hidden;
}
.profile_link{
display: block;
text-decoration: none;
color: black;
margin: 5px;
padding: 5px;
border-radius: 5px;
}
.profile_link:hover{
background-color: #6fb768;
color: black;
}
/* 
.container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
margin-top: 60px;
} */
.section{
/* background-color: #6fb768; */
min-height: 100vh;
width: 100%;
}


.content{
display: flex;
flex-direction: column;
justify-content: space-evenly;
margin: 0 auto; 
background: linear-gradient(145deg,#0000001a,#0000003a) ;
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border-radius: 10px;
color: #fff;
min-height: 50vh;
width: 70%;
margin-bottom: 200px;
}
.content{
padding: 2%;
}
#home .content {
margin-top: 200px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
#home .content h1{
margin-left: 0;
}
p
{padding: 20px;
}
/* 
#about{
background-image:url(/static/media/about.jpg);
background-color: #000;
background-size: cover;
background-repeat: no-repeat;
}
#about .content h1{
color: #000;
}
#about .content p{
color: #000;
} */

.footer{
bottom: 0;
background-color: #3e3e3e;
width: 100%;
display: flex;
justify-content: space-around;
align-items: flex-start;
transition: top 0.3s;
z-index: 3;
}
.footer ul{
list-style: none;
padding: 20px 0;
}
.footer ul li {
text-decoration: none;
color: #fff;
padding: 10px 0;
font-size: 15px;
}
.footer ul li a{
color: #fff;
text-decoration: none;
font-size: 15px;
padding: 10px 0;
}

.button{
background-color: #6fb768;
border: none;
border-radius: 5px;
color: #fff;
width: 100px;
padding: 10px;
font-size: 15px;
cursor: pointer;
transition: all 0.3s;
}
.button:hover{
background-color: #fff;
color: #6fb768;
transform: rotateX(30deg);
}


.container{
/* background-color: #6fb768; */
width: 100%;
min-height: 30vh;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
justify-content: center;
}
.service_card{
display: flex;
flex-direction: column;
justify-content: center;
background: #b3b3b383 ;
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
align-items: center;
color: white;
text-shadow:0 0 10px 10px black;
border-radius:10px ;
transition: .5s;
margin: 2%;
}
.service_card:hover{
perspective: 1000px;
transform: scale3d(1.1, 1.1, 1.1);
transition: .5s;
}
.service_card p{
font-size: 13px;
}
.icon{
width: 60%;
display: flex;
justify-content: space-between;
padding-left: 50px;
}
.icon a{
color: white;
text-decoration: none;
font-size: 40px;
margin-top: 50px;
transition: .5s;
}
.icon a:hover{
color: #6fb768;
transform: scale(1.2);
transition: .5s;
}

@media screen and (max-width: 768px) {
.profileBtn{
  display: flex;
}
.profile_container{
  display: inline;
}
#navbar ul li{
  display: none;
}
h1{
  font-size: 40px;
}
h2{
  font-size:15px;
}
.service_card p{
  font-size: 13px;
}
p{
  font-size: 17px;
  width: 100%;
}
.footer{
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
}
.icon a{
  font-size: 20px;
}
.service_card{
  padding: 10px;
}
.icon{
  width: 100%;
}
}
@media screen and (min-width: 769px) {
h1{
  font-size: 50px;
}
p{
  font-size: 25px;
  width: 100%;
}
#home h1{
  font-size: 100px;
}
}



